In [1]:
import pandas as pd
df = pd.read_csv("CRMLSSold202507_filled.csv")
df.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,TheInlandGateway,TheInlandGateway,NaN,True,NaN,NaN,NaN,10000.0,509527617,nleimers@hotmail.com,...,NaN,False,NaN,NaN,92325,0.0,5301.0,NaN,False,False
1,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,125000.0,507776532,rainmakerconlon@gmail.com,...,NaN,False,NaN,NaN,92345,NaN,39389.0,NaN,False,False
2,PacificWest,PacificWest,Laminate,False,NaN,NaN,False,2000.0,1120249676,cesarg@sevengables.com,...,1.0,False,0.0,Tustin Unified,92701,NaN,124059.0,NaN,False,False
3,SanDiego,SanDiego,NaN,False,NaN,NaN,False,1040000.0,1120247618,agentsmylie@gmail.com,...,NaN,False,2.0,NaN,92081,173.0,5318.0,NaN,False,False
4,PalmSprings,PalmSprings,"Carpet,Tile",True,NaN,NaN,True,2400000.0,1120245509,reagan.richter@compass.com,...,NaN,False,2.0,NaN,92264,NaN,12632.0,NaN,False,False

In [2]:
cols_to_keep = [
    "MLSAreaMajor",
    "Stories",
    "ViewYN",
    "NewConstructionYN",
    "Levels",
    "PoolPrivateYN",
    "BuyerOfficeAOR",
    "GarageSpaces",
    "LotSizeAcres",
    "LotSizeSquareFeet",
    "LotSizeArea",
    "BuyerOfficeName",
    "BuyerAgentFirstName",
    "BuyerAgentMlsId",
    "StreetNumberNumeric",
    "UnparsedAddress",
    "City",
    "YearBuilt",
    "FireplaceYN",
    "BuyerAgentLastName",
    "LivingArea",
    "Latitude",
    "Longitude",
    "BuyerAgentAOR",
    "BathroomsTotalInteger",
    "ClosePrice",
    "CloseDate",
    "PropertyType",
    "MlsStatus",
    "ParkingTotal",
    "PropertySubType",
    "CountyOrParish",
    "BedroomsTotal",
    "StateOrProvince",
    "PurchaseContractDate",
    "ContractStatusChangeDate",
    "PostalCode"
]

df = df[cols_to_keep]
df.head()

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
0,286 - Crestline Area,NaN,True,False,NaN,NaN,Mrmls,NaN,0.1217,5301.0,...,Land,Closed,NaN,NaN,San Bernardino,NaN,CA,2025-07-17,2025-07-24,92325
1,NaN,NaN,True,False,NaN,NaN,OrangeCounty,NaN,0.9000,39389.0,...,Land,Closed,NaN,NaN,San Bernardino,NaN,CA,2025-04-30,2025-07-08,92345
2,70 - Santa Ana North of First,1.0,False,False,One,False,PacificWest,0.0,2.8480,124059.0,...,ResidentialLease,Closed,0.0,Condominium,Orange,1.0,CA,2025-07-31,2025-07-31,92701
3,92081 - Vista,2.0,False,False,Two,False,SanDiego,2.0,0.1221,5318.0,...,Residential,Closed,4.0,SingleFamilyResidence,San Diego,3.0,CA,2025-07-31,2025-07-31,92081
4,334 - South End Palm Springs,1.0,True,False,One,True,PalmSprings,2.0,0.2900,12632.0,...,Residential,Closed,6.0,SingleFamilyResidence,Riverside,3.0,CA,2025-07-31,2025-07-31,92264

In [3]:
df.isna().sum().sort_values(ascending=False)

Stories                     4066
GarageSpaces                3037
NewConstructionYN           2690
MLSAreaMajor                2677
Levels                      2533
PoolPrivateYN               2474
ViewYN                      2373
LotSizeAcres                1867
FireplaceYN                 1859
LotSizeSquareFeet           1823
LotSizeArea                 1803
PropertySubType             1621
LivingArea                  1501
BedroomsTotal               1407
BathroomsTotalInteger        975
YearBuilt                    876
BuyerOfficeAOR               701
ParkingTotal                 619
PurchaseContractDate         459
BuyerOfficeName              205
BuyerAgentMlsId               95
BuyerAgentFirstName           88
StreetNumberNumeric           57
UnparsedAddress               40
City                          20
BuyerAgentAOR                 12
BuyerAgentLastName            10
PostalCode                     6
Latitude                       5
Longitude                      4
CloseDate                      0
PropertyType                   0
MlsStatus                      0
ClosePrice                     0
CountyOrParish                 0
StateOrProvince                0
ContractStatusChangeDate       0
dtype: int64

In [4]:
# Numeric columns with missing values
numeric_cols = [
    "Stories", "GarageSpaces", "LotSizeAcres", "LotSizeSquareFeet",
    "LotSizeArea", "LivingArea", "BedroomsTotal", "BathroomsTotalInteger",
    "YearBuilt", "StreetNumberNumeric", "Latitude", "Longitude", "ParkingTotal"
]

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [5]:
bool_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in bool_cols:
    df[col] = df[col].fillna("No")

In [6]:
categorical_cols = [
    "MLSAreaMajor", "Levels", "BuyerOfficeAOR", "BuyerOfficeName",
    "BuyerAgentFirstName", "BuyerAgentMlsId", "UnparsedAddress", "City",
    "BuyerAgentLastName", "BuyerAgentAOR", "PropertySubType",
    "CountyOrParish", "StateOrProvince", "PostalCode"
]

for col in categorical_cols:
    df[col] = df[col].fillna("Unknown")

In [7]:
df.isna().sum().sort_values(ascending=False).head(10)

PurchaseContractDate     459
MLSAreaMajor               0
PropertyType               0
Latitude                   0
Longitude                  0
BuyerAgentAOR              0
BathroomsTotalInteger      0
ClosePrice                 0
CloseDate                  0
MlsStatus                  0
dtype: int64

In [8]:
date_cols = ["PurchaseContractDate", "ContractStatusChangeDate", "CloseDate"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [9]:
yn_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].map({"Yes": True, "No": False})

In [10]:
for col in numeric_cols:  # reuse numeric_cols list from earlier
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [11]:
for col in categorical_cols:  # reuse categorical_cols list
    df[col] = df[col].astype("category")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23646 entries, 0 to 23645
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              23646 non-null  category
 1   Stories                   23646 non-null  float64
 2   ViewYN                    2373 non-null   object
 3   NewConstructionYN         2690 non-null   object
 4   Levels                    23646 non-null  category
 5   PoolPrivateYN             2474 non-null   object
 6   BuyerOfficeAOR            23646 non-null  category
 7   GarageSpaces              23646 non-null  float64
 8   LotSizeAcres              23646 non-null  float64
 9   LotSizeSquareFeet         23646 non-null  float64
 10  LotSizeArea               23646 non-null  float64
 11  BuyerOfficeName           23646 non-null  category
 12  BuyerAgentFirstName       23646 non-null  category
 13  BuyerAgentMlsId           23646 non-null  category
 14  StreetNumberNumeric       23646 non-null  float64
 15  UnparsedAddress           23646 non-null  category
 16  City                      23646 non-null  category
 17  YearBuilt                 23646 non-null  float64
 18  FireplaceYN               1859 non-null   object
 19  BuyerAgentLastName        23646 non-null  category
 20  LivingArea                23646 non-null  float64
 21  Latitude                  23646 non-null  float64
 22  Longitude                 23646 non-null  float64
 23  BuyerAgentAOR             23646 non-null  category
 24  BathroomsTotalInteger     23646 non-null  float64
 25  ClosePrice                23646 non-null  float64
 26  CloseDate                 23646 non-null  datetime64[ns]
 27  PropertyType              23646 non-null  object
 28  MlsStatus                 23646 non-null  object
 29  ParkingTotal              23646 non-null  float64
 30  PropertySubType           23646 non-null  category
 31  CountyOrParish            23646 non-null  category
 32  BedroomsTotal             23646 non-null  float64
 33  StateOrProvince           23646 non-null  category
 34  PurchaseContractDate      23187 non-null  datetime64[ns]
 35  ContractStatusChangeDate  23646 non-null  datetime64[ns]
 36  PostalCode                23646 non-null  category
dtypes: category(14), datetime64[ns](3), float64(14), object(6)
memory usage: 6.7+ MB

In [13]:
yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].fillna("No").map({"Yes": True, "No": False})

In [14]:
df["PropertyType"] = df["PropertyType"].astype("category")
df["MlsStatus"] = df["MlsStatus"].astype("category")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23646 entries, 0 to 23645
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              23646 non-null  category
 1   Stories                   23646 non-null  float64
 2   ViewYN                    21273 non-null  object
 3   NewConstructionYN         20956 non-null  object
 4   Levels                    23646 non-null  category
 5   PoolPrivateYN             21172 non-null  object
 6   BuyerOfficeAOR            23646 non-null  category
 7   GarageSpaces              23646 non-null  float64
 8   LotSizeAcres              23646 non-null  float64
 9   LotSizeSquareFeet         23646 non-null  float64
 10  LotSizeArea               23646 non-null  float64
 11  BuyerOfficeName           23646 non-null  category
 12  BuyerAgentFirstName       23646 non-null  category
 13  BuyerAgentMlsId           23646 non-null  category
 14  StreetNumberNumeric       23646 non-null  float64
 15  UnparsedAddress           23646 non-null  category
 16  City                      23646 non-null  category
 17  YearBuilt                 23646 non-null  float64
 18  FireplaceYN               21787 non-null  object
 19  BuyerAgentLastName        23646 non-null  category
 20  LivingArea                23646 non-null  float64
 21  Latitude                  23646 non-null  float64
 22  Longitude                 23646 non-null  float64
 23  BuyerAgentAOR             23646 non-null  category
 24  BathroomsTotalInteger     23646 non-null  float64
 25  ClosePrice                23646 non-null  float64
 26  CloseDate                 23646 non-null  datetime64[ns]
 27  PropertyType              23646 non-null  category
 28  MlsStatus                 23646 non-null  category
 29  ParkingTotal              23646 non-null  float64
 30  PropertySubType           23646 non-null  category
 31  CountyOrParish            23646 non-null  category
 32  BedroomsTotal             23646 non-null  float64
 33  StateOrProvince           23646 non-null  category
 34  PurchaseContractDate      23187 non-null  datetime64[ns]
 35  ContractStatusChangeDate  23646 non-null  datetime64[ns]
 36  PostalCode                23646 non-null  category
dtypes: category(16), datetime64[ns](3), float64(14), object(4)
memory usage: 6.4+ MB

In [17]:
yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    # Normalize: lowercase, strip spaces
    df[col] = df[col].astype(str).str.strip().str.lower()

    # Map cleanly
    df[col] = df[col].map({
        "yes": True, "y": True, "true": True, "1": True,
        "no": False, "n": False, "false": False, "0": False
    })

    # Fill any unmapped values (including NaN) as False
    df[col] = df[col].fillna(False).astype(bool)

In [18]:
df[yn_cols].dtypes

ViewYN               bool
NewConstructionYN    bool
PoolPrivateYN        bool
FireplaceYN          bool
dtype: object

In [19]:
import datetime
current_year = datetime.datetime.now().year

invalid_years = df[(df["YearBuilt"] < 1800) | (df["YearBuilt"] > current_year)]
print(f"Invalid YearBuilt values: {len(invalid_years)}")

Invalid YearBuilt values: 0

In [20]:
df["LotSizeAcres"].describe()

count     23646.000000
mean         34.586387
std        2293.134187
min           0.000000
25%           0.128700
50%           0.170000
75%           0.282575
max      321472.000000
Name: LotSizeAcres, dtype: float64

In [21]:
invalid_coords = df[(df["Latitude"].abs() > 90) | (df["Longitude"].abs() > 180)]
print(f"Invalid coordinate rows: {len(invalid_coords)}")

Invalid coordinate rows: 0

In [22]:
df[df["ClosePrice"] <= 0]

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
6517,661 - Temple City,1.0,False,False,MultiSplit,False,PasadenaFoothills,2.0,0.2597,11313.0,...,Residential,Closed,2.0,SingleFamilyResidence,Los Angeles,4.0,CA,2025-07-28,2025-07-30,91780
21604,92065 - Ramona,1.0,False,False,Unknown,False,SanDiego,2.0,3.1000,135036.0,...,Land,Closed,0.0,Unknown,San Diego,3.0,CA,2025-05-21,2025-07-03,92065
21627,92065 - Ramona,1.0,False,False,Unknown,False,SanDiego,2.0,1.6500,71874.0,...,Land,Closed,0.0,Unknown,San Diego,3.0,CA,2025-05-21,2025-07-03,92065
23192,92154 - Otay Mesa,1.0,False,False,Unknown,False,PacificSouthwest,2.0,0.1700,7405.0,...,CommercialSale,Closed,0.0,Warehouse,San Diego,3.0,CA,2025-07-01,2025-07-01,92154

In [23]:
df = df[df["ClosePrice"] > 0].reset_index(drop=True)

In [24]:
missing_yearbuilt = df["YearBuilt"].isna().sum()
print(f"Missing YearBuilt values: {missing_yearbuilt}")

Missing YearBuilt values: 0