In [25]:
# Install required packages
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jueeh\dsc80-2025-fa\environment\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [26]:
import pandas as pd
import numpy as np

In [27]:

df_05 = pd.read_csv('CRMLSSold202505_cleaned.csv')
df_04 = pd.read_csv('cleanedCRMLSSold202504.csv')
df_08 = pd.read_csv('cleanedCRMLSSold202508_filled.csv')
df_06 = pd.read_csv('cleanedCRMLSSold202506_filled.csv')
df_03 = pd.read_csv('03_cleaned.csv')
df_02 = pd.read_csv('02_cleaned.csv')
df_07 = pd.read_csv('07_cleaned.csv')

In [28]:
df_07 = df_07.drop(columns = ['Unnamed: 0'])
df_02 = df_02.drop(columns = ['Unnamed: 0'])

In [36]:
combined_df = pd.concat([df_02, df_03, df_04, df_05, df_06, df_07, df_08], ignore_index=True)

In [38]:
# Sanity checks for combined_df
print("Shape:", combined_df.shape)
print("Columns:", combined_df.columns.tolist())
print("\nFirst 5 rows:")
combined_df.head()

Shape: (111136, 37)
Columns: ['MLSAreaMajor', 'Stories', 'ViewYN', 'NewConstructionYN', 'Levels', 'PoolPrivateYN', 'BuyerOfficeAOR', 'GarageSpaces', 'LotSizeAcres', 'LotSizeSquareFeet', 'LotSizeArea', 'BuyerOfficeName', 'BuyerAgentFirstName', 'BuyerAgentMlsId', 'StreetNumberNumeric', 'UnparsedAddress', 'City', 'YearBuilt', 'FireplaceYN', 'BuyerAgentLastName', 'LivingArea', 'Latitude', 'Longitude', 'BuyerAgentAOR', 'BathroomsTotalInteger', 'ClosePrice', 'CloseDate', 'PropertyType', 'MlsStatus', 'ParkingTotal', 'PropertySubType', 'CountyOrParish', 'BedroomsTotal', 'StateOrProvince', 'PurchaseContractDate', 'ContractStatusChangeDate', 'PostalCode']

First 5 rows:

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
0,APPV - Apple Valley,1.0,False,False,Unknown,False,TriCounties,2.0,0.6428,28000.0,...,Land,Closed,2.0,Unknown,San Bernardino,3.0,CA,2022-01-10,2025-02-21,92307
1,259 - Moreno Valley,1.0,False,False,Unknown,False,InlandValleys,2.0,0.9100,39640.0,...,Land,Closed,2.0,Unknown,Riverside,3.0,CA,2024-11-08,2025-02-14,92553
2,91942 - La Mesa,1.0,False,False,One,False,PacificSouthwest,2.0,0.1674,7264.5,...,Residential,Closed,6.0,SingleFamilyResidence,San Diego,4.0,CA,2021-01-25,2025-02-11,91942
3,91942 - La Mesa,1.0,False,False,One,False,SanDiego,2.0,0.1674,7264.5,...,Residential,Closed,4.0,SingleFamilyResidence,San Diego,5.0,CA,2021-01-14,2025-02-14,91942
4,91942 - La Mesa,1.0,False,False,One,False,SanDiego,2.0,0.1674,7264.5,...,Residential,Closed,4.0,SingleFamilyResidence,San Diego,4.0,CA,2021-01-25,2025-02-18,91942

In [39]:
# Check for missing values
print("Missing values per column:")
combined_df.isnull().sum()

Missing values per column:

MLSAreaMajor                   0
Stories                        0
ViewYN                         0
NewConstructionYN              0
Levels                         0
PoolPrivateYN                  0
BuyerOfficeAOR                 0
GarageSpaces                   0
LotSizeAcres                   0
LotSizeSquareFeet              0
LotSizeArea                    0
BuyerOfficeName                0
BuyerAgentFirstName            0
BuyerAgentMlsId                0
StreetNumberNumeric            0
UnparsedAddress                0
City                           0
YearBuilt                      0
FireplaceYN                    0
BuyerAgentLastName             0
LivingArea                     0
Latitude                       0
Longitude                      0
BuyerAgentAOR                  0
BathroomsTotalInteger          0
ClosePrice                     0
CloseDate                      0
PropertyType                   0
MlsStatus                      0
ParkingTotal                   0
PropertySubType                0
CountyOrParish                 0
BedroomsTotal                  0
StateOrProvince                0
PurchaseContractDate        1298
ContractStatusChangeDate       0
PostalCode                     0
dtype: int64

In [40]:
# Check data types
print("Data types:")
combined_df.dtypes

Data types:

MLSAreaMajor                 object
Stories                     float64
ViewYN                         bool
NewConstructionYN              bool
Levels                       object
PoolPrivateYN                  bool
BuyerOfficeAOR               object
GarageSpaces                float64
LotSizeAcres                float64
LotSizeSquareFeet           float64
LotSizeArea                 float64
BuyerOfficeName              object
BuyerAgentFirstName          object
BuyerAgentMlsId              object
StreetNumberNumeric         float64
UnparsedAddress              object
City                         object
YearBuilt                   float64
FireplaceYN                    bool
BuyerAgentLastName           object
LivingArea                  float64
Latitude                    float64
Longitude                   float64
BuyerAgentAOR                object
BathroomsTotalInteger       float64
ClosePrice                  float64
CloseDate                    object
PropertyType                 object
MlsStatus                    object
ParkingTotal                float64
PropertySubType              object
CountyOrParish               object
BedroomsTotal               float64
StateOrProvince              object
PurchaseContractDate         object
ContractStatusChangeDate     object
PostalCode                   object
dtype: object

In [41]:
# Basic statistics for numeric columns
print("Basic statistics:")
combined_df.describe()

Basic statistics:

,Stories,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,LotSizeArea,StreetNumberNumeric,YearBuilt,LivingArea,Latitude,Longitude,BathroomsTotalInteger,ClosePrice,ParkingTotal,BedroomsTotal
count,111136.000000,111136.000000,1.111360e+05,1.111360e+05,1.111360e+05,1.111360e+05,111136.000000,111136.000000,111136.000000,111136.000000,111136.000000,1.111360e+05,111136.000000,111136.000000
mean,1.305059,1.874033,5.831829e+01,3.274057e+05,3.441310e+04,1.915474e+04,1977.238528,1902.523660,34.610161,-118.520234,2.518005,1.063071e+06,2.907919,3.247652
std,0.460434,2.752237,1.266314e+04,1.627384e+07,1.146902e+06,2.191881e+06,27.053244,1320.727019,1.651931,3.105658,1.325321,6.131100e+06,56.907466,1.292923
min,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1800.000000,0.000000,0.000000,-124.193201,0.000000,1.000000e+00,-35.000000,0.000000
25%,1.000000,2.000000,1.292000e-01,5.611000e+03,5.348000e+03,9.660000e+02,1958.000000,1281.000000,33.741197,-118.647295,2.000000,4.240000e+05,2.000000,3.000000
50%,1.000000,2.000000,1.700000e-01,7.405000e+03,7.200000e+03,3.270000e+03,1978.000000,1643.000000,34.046700,-118.031483,2.000000,7.515000e+05,2.000000,3.000000
75%,2.000000,2.000000,2.548000e-01,1.108800e+04,1.045400e+04,1.194825e+04,1998.000000,2252.000000,34.469233,-117.291572,3.000000,1.250000e+06,3.000000,4.000000
max,2.000000,500.000000,4.187292e+06,2.087221e+09,2.613261e+08,7.212710e+08,2026.000000,231545.000000,41.894714,329.000000,96.000000,9.700000e+08,15720.000000,95.000000

In [42]:
# Check for duplicate rows
print("Duplicate rows:", combined_df.duplicated().sum())
print("Total rows:", len(combined_df))
print("Unique rows:", len(combined_df.drop_duplicates()))

Duplicate rows: 24
Total rows: 111136
Unique rows: 111112

In [43]:
# Check for outliers in key numeric columns (if they exist)
numeric_cols = combined_df.select_dtypes(include=[np.number]).columns
print("Numeric columns:", numeric_cols.tolist())

# Check for extreme values in close price if it exists
if 'ClosePrice' in combined_df.columns:
    print(f"\nClosePrice stats:")
    print(f"Min: ${combined_df['ClosePrice'].min():,.0f}")
    print(f"Max: ${combined_df['ClosePrice'].max():,.0f}")
    print(f"Mean: ${combined_df['ClosePrice'].mean():,.0f}")
    print(f"Median: ${combined_df['ClosePrice'].median():,.0f}")
    
    # Check for zero or negative prices
    zero_prices = (combined_df['ClosePrice'] <= 0).sum()
    print(f"Zero or negative prices: {zero_prices}")

Numeric columns: ['Stories', 'GarageSpaces', 'LotSizeAcres', 'LotSizeSquareFeet', 'LotSizeArea', 'StreetNumberNumeric', 'YearBuilt', 'LivingArea', 'Latitude', 'Longitude', 'BathroomsTotalInteger', 'ClosePrice', 'ParkingTotal', 'BedroomsTotal']

ClosePrice stats:
Min: $1
Max: $970,000,000
Mean: $1,063,071
Median: $751,500
Zero or negative prices: 0

In [44]:
# Check data consistency across different time periods
if 'CloseDate' in combined_df.columns:
    print("Date range analysis:")
    combined_df['CloseDate'] = pd.to_datetime(combined_df['CloseDate'], errors='coerce')
    print(f"Date range: {combined_df['CloseDate'].min()} to {combined_df['CloseDate'].max()}")
    
    # Check for future dates or very old dates
    future_dates = (combined_df['CloseDate'] > pd.Timestamp.now()).sum()
    very_old_dates = (combined_df['CloseDate'] < pd.Timestamp('1900-01-01')).sum()
    print(f"Future dates: {future_dates}")
    print(f"Very old dates (<1900): {very_old_dates}")
    
    # Check for invalid dates
    invalid_dates = combined_df['CloseDate'].isnull().sum()
    print(f"Invalid dates: {invalid_dates}")

Date range analysis:
Date range: 2025-02-01 00:00:00 to 2025-08-31 00:00:00
Future dates: 0
Very old dates (<1900): 0
Invalid dates: 0

In [45]:
# Check for inconsistent categorical values
categorical_cols = combined_df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_cols.tolist())

# Check for common data quality issues in categorical columns
for col in categorical_cols[:5]:  # Check first 5 categorical columns
    if combined_df[col].nunique() < 100:  # Only for columns with reasonable number of categories
        print(f"\n{col} unique values:")
        print(combined_df[col].value_counts().head())
        
        # Check for common issues
        empty_strings = (combined_df[col] == '').sum()
        whitespace_only = combined_df[col].str.strip().eq('').sum() if combined_df[col].dtype == 'object' else 0
        print(f"Empty strings: {empty_strings}, Whitespace only: {whitespace_only}")

Categorical columns: ['MLSAreaMajor', 'Levels', 'BuyerOfficeAOR', 'BuyerOfficeName', 'BuyerAgentFirstName', 'BuyerAgentMlsId', 'UnparsedAddress', 'City', 'BuyerAgentLastName', 'BuyerAgentAOR', 'PropertyType', 'MlsStatus', 'PropertySubType', 'CountyOrParish', 'StateOrProvince', 'PurchaseContractDate', 'ContractStatusChangeDate', 'PostalCode']

Levels unique values:
Levels
One            59671
Two            33668
Unknown        11354
ThreeOrMore     3626
MultiSplit      2007
Name: count, dtype: int64
Empty strings: 0, Whitespace only: 0

BuyerOfficeAOR unique values:
BuyerOfficeAOR
OrangeCounty    9494
Mlslistings     7809
PacificWest     7276
SanDiego        6804
Southland       6614
Name: count, dtype: int64
Empty strings: 0, Whitespace only: 0