In [1]:
from google.colab import files
files.upload()

ModuleNotFoundError: No module named 'google'

In [2]:
import pandas as pd
import numpy as np
df_03 = pd.read_csv('CRMLSSold202503_filled.csv')
df_03.head()

FileNotFoundError: [Errno 2] No such file or directory: 'CRMLSSold202503_filled.csv'

In [3]:
print(df_03.columns)
print(df_03.shape)

Index(['BuyerAgentAOR', 'ListAgentAOR', 'Flooring', 'ViewYN', 'WaterfrontYN',
       'BasementYN', 'PoolPrivateYN', 'OriginalListPrice', 'ListingKey',
       'ListAgentEmail', 'CloseDate', 'ClosePrice', 'ListAgentFirstName',
       'ListAgentLastName', 'Latitude', 'Longitude', 'UnparsedAddress',
       'PropertyType', 'LivingArea', 'ListPrice', 'DaysOnMarket',
       'ListOfficeName', 'BuyerOfficeName', 'CoListOfficeName',
       'ListAgentFullName', 'CoListAgentFirstName', 'CoListAgentLastName',
       'BuyerAgentMlsId', 'BuyerAgentFirstName', 'BuyerAgentLastName',
       'FireplacesTotal', 'AssociationFeeFrequency', 'AboveGradeFinishedArea',
       'ListingKeyNumeric', 'MLSAreaMajor', 'TaxAnnualAmount',
       'CountyOrParish', 'MlsStatus', 'ElementarySchool', 'AttachedGarageYN',
       'ParkingTotal', 'BuilderName', 'PropertySubType', 'LotSizeAcres',
       'SubdivisionName', 'BuyerOfficeAOR', 'YearBuilt', 'StreetNumberNumeric',
       'ListingId', 'BathroomsTotalInteger', 'City', 'TaxYear',
       'BuildingAreaTotal', 'BedroomsTotal', 'ContractStatusChangeDate',
       'ElementarySchoolDistrict', 'CoBuyerAgentFirstName',
       'PurchaseContractDate', 'ListingContractDate', 'BelowGradeFinishedArea',
       'BusinessType', 'StateOrProvince', 'CoveredSpaces',
       'MiddleOrJuniorSchool', 'FireplaceYN', 'Stories', 'HighSchool',
       'Levels', 'LotSizeDimensions', 'LotSizeArea', 'MainLevelBedrooms',
       'NewConstructionYN', 'GarageSpaces', 'HighSchoolDistrict', 'PostalCode',
       'AssociationFee', 'LotSizeSquareFeet', 'MiddleOrJuniorSchoolDistrict',
       'latfilled', 'lonfilled'],
      dtype='object')
(21445, 80)

In [4]:
def drop_columns(df):
  for col in df.columns:
    if (int(df_03[col].isna().sum()) / df.shape[0]) > 0.50:
      df = df.drop(columns = [col])

  return df

In [5]:
filtered_df = df_03[(df_03['PropertyType'] == 'Residential') & (df_03['PropertySubType'] == 'SingleFamilyResidence')]
filtered_df.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
5,PacificWest,PacificWest,"Carpet,Vinyl",True,NaN,NaN,False,750000.0,518853228,wendy@go2wendy.com,...,1.0,False,2.0,Anaheim Union High,92804,0.0,8400.0,NaN,False,False
14,VenturaCoastal,VenturaCoastal,NaN,False,NaN,NaN,False,850000.0,1109530752,mrg@moralesregroup.com,...,NaN,NaN,2.0,NaN,93012,NaN,5662.0,NaN,False,False
15,SanDiego,SanDiego,NaN,False,NaN,NaN,False,805000.0,1109530676,ronald@greenwaldrealtyteam.com,...,NaN,False,0.0,NaN,92064,NaN,NaN,NaN,False,False
16,MariposaCounty,MariposaCounty,NaN,True,NaN,NaN,False,800000.0,1109529611,julie.twissrealty@gmail.com,...,4.0,False,2.0,Chawanakee Unified,93636,0.0,1711908.0,NaN,False,False
18,PacificWest,PacificWest,SeeRemarks,True,NaN,NaN,False,4888888.0,1109527085,janis@strategicsalesandmarketing.com,...,1.0,True,3.0,Saddleback Valley Unified,92676,510.0,17441.0,NaN,False,False

In [6]:
#Columns to Exclude: ListPrice, ListAgentAOR, ListAgentEmail, latfilled, lonfilled, ListingContractDate, ListingID, ListingKeyNumeric, ListAgentFirstName, ListAgentLastName, OriginalListPrice, ListingKey, DaysOnMarket, ListOfficeName, ListAgentFullName, CoListOfficeName, CoListAgentFirstName, CoListAgentLastName, ListingId

In [7]:
#filtered_df_2 is the dataframe that excludes the columns we chose to exclude- listing related stuff and ListPrice/OriginalListPrice
filtered_df_2 = filtered_df.drop(columns = ['ListPrice', 'ListAgentAOR', 'ListAgentEmail', 'latfilled', 'lonfilled', 'ListingContractDate', 'ListingId', 'ListingKeyNumeric', 'ListAgentFirstName', 'ListAgentLastName', 'OriginalListPrice', 'ListingKey', 'DaysOnMarket', 'ListOfficeName', 'ListAgentFullName', 'CoListOfficeName', 'CoListAgentFirstName', 'CoListAgentLastName'])

##Basic Information about filtered_df_3

In [8]:
filtered_df_3 = drop_columns(filtered_df_2) #filtered_df_3 is the dataframe where I removed all the columns that have 50% or more null values.

In [9]:
filtered_df_3
filtered_df_3.isna().sum().sort_values(ascending=False)

MLSAreaMajor                1530
Stories                     1102
ViewYN                       970
NewConstructionYN            826
Levels                       721
PoolPrivateYN                704
BuyerOfficeAOR               373
GarageSpaces                 347
LotSizeAcres                 181
LotSizeSquareFeet            181
LotSizeArea                  181
BuyerOfficeName              113
BuyerAgentFirstName           41
BuyerAgentMlsId               15
StreetNumberNumeric           15
UnparsedAddress               13
City                           7
YearBuilt                      5
FireplaceYN                    4
BuyerAgentLastName             3
LivingArea                     3
Latitude                       1
Longitude                      1
BuyerAgentAOR                  1
BathroomsTotalInteger          1
ClosePrice                     0
CloseDate                      0
PropertyType                   0
MlsStatus                      0
ParkingTotal                   0
PropertySubType                0
CountyOrParish                 0
BedroomsTotal                  0
StateOrProvince                0
PurchaseContractDate           0
ContractStatusChangeDate       0
PostalCode                     0
dtype: int64

In [10]:
filtered_df_3.describe()

,ClosePrice,Latitude,Longitude,LivingArea,ParkingTotal,LotSizeAcres,YearBuilt,StreetNumberNumeric,BathroomsTotalInteger,BedroomsTotal,Stories,LotSizeArea,GarageSpaces,LotSizeSquareFeet
count,1.061000e+04,10609.000000,10609.000000,10607.000000,10610.000000,10429.000000,10605.000000,10595.000000,10609.000000,10610.000000,9508.000000,1.042900e+04,10263.000000,1.042900e+04
mean,1.256631e+06,34.696405,-118.529743,2036.958525,3.075683,5.666720,1976.796040,10542.360925,2.633990,3.468143,1.353702,1.700234e+04,1.981195,2.468423e+05
std,1.332659e+06,1.678968,4.728942,992.598757,22.780237,470.956694,27.789446,15267.576369,1.119289,0.948963,0.478143,1.437260e+05,0.908119,2.051487e+07
min,2.500000e+04,20.000000,-123.800485,0.000000,-22.000000,0.000000,1874.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000e+00
25%,6.189925e+05,33.744959,-118.994601,1377.500000,2.000000,0.130000,1956.000000,1145.500000,2.000000,3.000000,1.000000,5.500000e+03,2.000000,5.663000e+03
50%,8.870000e+05,34.061407,-117.975265,1816.000000,2.000000,0.166700,1977.000000,3865.000000,2.000000,3.000000,1.000000,7.132000e+03,2.000000,7.260000e+03
75%,1.435875e+06,34.673118,-117.248268,2426.000000,3.000000,0.235400,2000.000000,13837.000000,3.000000,4.000000,2.000000,9.949000e+03,2.000000,1.025200e+04
max,3.000000e+07,41.331958,329.000000,14000.000000,2065.000000,47916.000000,2025.000000,148808.000000,25.000000,10.000000,2.000000,1.251740e+07,20.000000,2.087221e+09

In [11]:
filtered_df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10610 entries, 5 to 21410
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   BuyerAgentAOR             10609 non-null  object
 1   ViewYN                    9640 non-null   object
 2   PoolPrivateYN             9906 non-null   object
 3   CloseDate                 10610 non-null  object
 4   ClosePrice                10610 non-null  float64
 5   Latitude                  10609 non-null  float64
 6   Longitude                 10609 non-null  float64
 7   UnparsedAddress           10597 non-null  object
 8   PropertyType              10610 non-null  object
 9   LivingArea                10607 non-null  float64
 10  BuyerOfficeName           10497 non-null  object
 11  BuyerAgentMlsId           10595 non-null  object
 12  BuyerAgentFirstName       10569 non-null  object
 13  BuyerAgentLastName        10607 non-null  object
 14  MLSAreaMajor              9080 non-null   object
 15  CountyOrParish            10610 non-null  object
 16  MlsStatus                 10610 non-null  object
 17  ParkingTotal              10610 non-null  float64
 18  PropertySubType           10610 non-null  object
 19  LotSizeAcres              10429 non-null  float64
 20  BuyerOfficeAOR            10237 non-null  object
 21  YearBuilt                 10605 non-null  float64
 22  StreetNumberNumeric       10595 non-null  float64
 23  BathroomsTotalInteger     10609 non-null  float64
 24  City                      10603 non-null  object
 25  BedroomsTotal             10610 non-null  float64
 26  ContractStatusChangeDate  10610 non-null  object
 27  PurchaseContractDate      10610 non-null  object
 28  StateOrProvince           10610 non-null  object
 29  FireplaceYN               10606 non-null  object
 30  Stories                   9508 non-null   float64
 31  Levels                    9889 non-null   object
 32  LotSizeArea               10429 non-null  float64
 33  NewConstructionYN         9784 non-null   object
 34  GarageSpaces              10263 non-null  float64
 35  PostalCode                10610 non-null  object
 36  LotSizeSquareFeet         10429 non-null  float64
dtypes: float64(14), object(23)
memory usage: 3.1+ MB

In [12]:
correlations = filtered_df_3.select_dtypes(include=np.number).corr()['ClosePrice'].abs().sort_values(ascending=False)
correlations

ClosePrice               1.000000
LivingArea               0.615090
BathroomsTotalInteger    0.577163
BedroomsTotal            0.334853
GarageSpaces             0.235261
Stories                  0.223808
StreetNumberNumeric      0.116803
LotSizeArea              0.115884
Longitude                0.045786
YearBuilt                0.031727
ParkingTotal             0.025499
Latitude                 0.016151
LotSizeAcres             0.005941
LotSizeSquareFeet        0.005941
Name: ClosePrice, dtype: float64

In [13]:
numeric_cols = filtered_df_3.select_dtypes(include=np.number).columns.tolist()
categorical_cols = filtered_df_3.select_dtypes(include=['object']).columns.tolist()
bool_cols = ['ViewYN', 'PoolPrivateYN', 'FireplaceYN', 'NewConstructionYN']
for cols in bool_cols:
  categorical_cols.remove(cols)

In [14]:
for col in numeric_cols:
  filtered_df_3[col] = filtered_df_3[col].fillna(filtered_df[col].median())

for col in categorical_cols:
  filtered_df_3[col] = filtered_df_3[col].fillna("Unknown")

for col in bool_cols:
  filtered_df_3[col] = filtered_df_3[col].fillna("No")

In [15]:
filtered_df_3.info()
#Categorical: BuyerAgentAOR, CloseDate, UnparsedAddress, PropertyType, BuyerOfficename, BuyerAgentMlsId, BuyerAgentFirstName, BuyerAgentLastName, MLSAreaMajor, CountyorParish, MlsStatus, PropertySubType, BuyerOfficeAOR, City, ContractStatusChangeDate, PurchaseContractDate, StateOrProvince
#Boolean: ViewYN, PoolPrivateYN, FireplaceYN, NewConstructionYN,
#Numeric/Continuous: ClosePrice (use median)
#Location: Latitude, Longitude, StreetNumberNumeric, PostalCode (special handling)
#Size: LivingArea, LotSizeAcres, LotSizeArea, LotSizeSquareFeet (use median)
#Count: ParkingTotal, BathroomsTotalInteger, BedroomsTotal, Stories, Levels, GarageSpaces (use zero or mode)
#Time: YearBuilt (median)

<class 'pandas.core.frame.DataFrame'>
Index: 10610 entries, 5 to 21410
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   BuyerAgentAOR             10610 non-null  object
 1   ViewYN                    10610 non-null  object
 2   PoolPrivateYN             10610 non-null  object
 3   CloseDate                 10610 non-null  object
 4   ClosePrice                10610 non-null  float64
 5   Latitude                  10610 non-null  float64
 6   Longitude                 10610 non-null  float64
 7   UnparsedAddress           10610 non-null  object
 8   PropertyType              10610 non-null  object
 9   LivingArea                10610 non-null  float64
 10  BuyerOfficeName           10610 non-null  object
 11  BuyerAgentMlsId           10610 non-null  object
 12  BuyerAgentFirstName       10610 non-null  object
 13  BuyerAgentLastName        10610 non-null  object
 14  MLSAreaMajor              10610 non-null  object
 15  CountyOrParish            10610 non-null  object
 16  MlsStatus                 10610 non-null  object
 17  ParkingTotal              10610 non-null  float64
 18  PropertySubType           10610 non-null  object
 19  LotSizeAcres              10610 non-null  float64
 20  BuyerOfficeAOR            10610 non-null  object
 21  YearBuilt                 10610 non-null  float64
 22  StreetNumberNumeric       10610 non-null  float64
 23  BathroomsTotalInteger     10610 non-null  float64
 24  City                      10610 non-null  object
 25  BedroomsTotal             10610 non-null  float64
 26  ContractStatusChangeDate  10610 non-null  object
 27  PurchaseContractDate      10610 non-null  object
 28  StateOrProvince           10610 non-null  object
 29  FireplaceYN               10610 non-null  object
 30  Stories                   10610 non-null  float64
 31  Levels                    10610 non-null  object
 32  LotSizeArea               10610 non-null  float64
 33  NewConstructionYN         10610 non-null  object
 34  GarageSpaces              10610 non-null  float64
 35  PostalCode                10610 non-null  object
 36  LotSizeSquareFeet         10610 non-null  float64
dtypes: float64(14), object(23)
memory usage: 3.1+ MB

In [36]:
date_cols = ["PurchaseContractDate", "ContractStatusChangeDate", "CloseDate"]

for col in date_cols:
    filtered_df_3[col] = pd.to_datetime(filtered_df_3[col], errors="coerce")

In [30]:
for col in bool_cols:
  filtered_df_3[col] = filtered_df_3[col].replace({'No': False, True: True, False: False})

/tmp/ipython-input-2250668822.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtered_df_3[col] = filtered_df_3[col].replace({'No': False, True: True, False: False})

In [33]:
for col in numeric_cols:
  filtered_df_3[col] = pd.to_numeric(filtered_df_3[col], errors='coerce')

for col in categorical_cols:
  filtered_df_3[col] = filtered_df_3[col].astype('category')

In [40]:
filtered_df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10610 entries, 5 to 21410
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   BuyerAgentAOR             10610 non-null  category
 1   ViewYN                    10610 non-null  bool
 2   PoolPrivateYN             10610 non-null  bool
 3   CloseDate                 10610 non-null  category
 4   ClosePrice                10610 non-null  float64
 5   Latitude                  10610 non-null  float64
 6   Longitude                 10610 non-null  float64
 7   UnparsedAddress           10610 non-null  category
 8   PropertyType              10610 non-null  category
 9   LivingArea                10610 non-null  float64
 10  BuyerOfficeName           10610 non-null  category
 11  BuyerAgentMlsId           10610 non-null  category
 12  BuyerAgentFirstName       10610 non-null  category
 13  BuyerAgentLastName        10610 non-null  category
 14  MLSAreaMajor              10610 non-null  category
 15  CountyOrParish            10610 non-null  category
 16  MlsStatus                 10610 non-null  category
 17  ParkingTotal              10610 non-null  float64
 18  PropertySubType           10610 non-null  category
 19  LotSizeAcres              10610 non-null  float64
 20  BuyerOfficeAOR            10610 non-null  category
 21  YearBuilt                 10610 non-null  float64
 22  StreetNumberNumeric       10610 non-null  float64
 23  BathroomsTotalInteger     10610 non-null  float64
 24  City                      10610 non-null  category
 25  BedroomsTotal             10610 non-null  float64
 26  ContractStatusChangeDate  10610 non-null  category
 27  PurchaseContractDate      10610 non-null  category
 28  StateOrProvince           10610 non-null  category
 29  FireplaceYN               10610 non-null  bool
 30  Stories                   10610 non-null  float64
 31  Levels                    10610 non-null  category
 32  LotSizeArea               10610 non-null  float64
 33  NewConstructionYN         10610 non-null  bool
 34  GarageSpaces              10610 non-null  float64
 35  PostalCode                10610 non-null  category
 36  LotSizeSquareFeet         10610 non-null  float64
dtypes: bool(4), category(19), float64(14)
memory usage: 2.7 MB